# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Build and temporary files
/dist
/build
*.tgz
*.swp
*.swo
*.bak

# Package distribution
package-lock.json
yarn.lock
